---
layout: default
---

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
  <!-- add in images -->
   <img class="img-icon" src="/assets/iconmonstr-calendar-8-icon.svg"></img>{{ page.date | date_to_string }}
    <img class="img-icon" src="/assets/iconmonstr-tags-4-icon.svg"></img>{% for categories in page.categories %} {{ categories }} {% if forloop.last != true %} {% endif %} {% endfor %}</span>

  {{ content }}